@{
    ViewBag.Title = "Greeting Page";
    var currentDay = DateTime.UtcNow.DayOfWeek;
}
<hgroup>
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    
</hgroup>
<article>
    <form action="" method="post">
        <p>
            <label for="fullname">please enter your full name here</label>
            <input type="text" name="fullname" />
        </p>
        <p>
            <label for="destn">please enter your Preferred destination</label>
            <input type="text" name="destn" />
        </p>
        <input type="submit" value="submit" />
    </form>
    @if (IsPost)
    {
        var userName = Request["fullname"];
        var destination = Request["destn"];
        <p>Hello @userName. You have selected @destination</p>

    }
    else
    {
        <p>Today is @currentDay and its a wonderful day indeed!"</p>
    }
</article>