@{
    ViewBag.Title = "Greeting Page";
    string greeting = "";
    if(IsPost)
    {
        var userName = Request["fullname"];
        var destination = Request["destn"];
        greeting = "Hello " + userName + ". You have selected " + destination + ".";
        
    }
}
<hgroup>
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    
</hgroup>
<article>
    <form action="" method="post">
        <p>
            <label for="fullname">please enter your full name here</label>
            <input type="text" name="fullname" />
        </p>
        <p>
            <label for="destn">please enter your Preferred destination</label>
            <input type="text" name="destn" />
        </p>
        <input type="submit" value="submit" />
    </form>
    <p>
        @greeting;
    </p>
</article>